* {
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: black;
}
h1 { 
    /* font-size: 5rem; */
    font-size: clamp(5rem, 12vw, 12rem);  
    /* border-bottom: solid 1px rgba(255, 255, 255, .3); */
}
h1, h2 {
    margin: 100px 0;
    filter: drop-shadow(-1px 0px 3px #DCC87F);
    text-align: center;
    font-family: garamond-premier-pro-display, serif;
    font-weight: 400;

}
h2 {
    font-size: clamp(3rem, 10vw, 8rem); 
}
/* h2 {
    
} */

p, a {
    font-family:Arial, Helvetica, sans-serif;
    /* filter: drop-shadow(-1px 0px 1px #DCC87F); */
}
.spacer {
    display: flex;
    filter: invert(100%);
    opacity: 0.5;
    height: 200px;
    width: 100px;
    margin: auto;
}
p {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 40px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

/* ALL media querys  */
/* desktop */
@media screen and (min-width: 1024px) {
    p {
        margin-left: 25%;
        margin-right: 25%;
    }
    
} /* desktop mq endtag*/



/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/Solvognen-00103_hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-spacer {
    height: 30vh;
}
.hero h2 {
    font-size: 1.8rem; 
}

/* scroll icon */
.scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 18px;
    height: 18px;
    /* border-left: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    transform: rotate(-45deg); */
}

/* hero media querys  */
/* desktop */
@media screen and (min-width: 1024px) {

} /* desktop mq endtag*/


/* INTRO SECTION */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.intro img {
    max-width: 75%;
}
.fact-wrapper {
    width: 50%;
    border-right: solid white;
    margin: 50px 0;
    padding: 25px 0;
}
.intro-text {
    text-align: center;
    
}
.btn {
    border: solid white 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 16px;

}
.btn:hover {
    background-color:white;
    color: black;
    filter: drop-shadow(-1px 0px 3px #DCC87F);
}
/* .hjulkors {
    filter: invert(100%);
    opacity: 0.5;
    width: 20%;
    margin: 50px;
} */

/* INTRO media query */
/* desktop */
@media screen and (min-width: 1024px) {
    .intro img {
        max-width: 30%;
        margin-top: 150px;
    }
    .fact-wrapper {
        max-width: 20%;
    }
    .fact-wrapper p {
        margin: 0 8% 0 8%;
    }

} /* desktop mq endtag*/



/* BETYDNING SECTION */
.betydning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* nu global indstilling
.betydning p {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 40px;
} */
.betydning img {
    width: 100%;
    margin: 50px;
}
.betydning video {
    width: 100%;
    margin-bottom: 40px;
}

/* BETYDNING media query */
/* desktop */
@media screen and (min-width: 1024px) {
    /* grid -.-
    .betydning {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "headline headline" 
            "paragraph-1 paragraph-2"
            "img paragraph-3"
            "video video"
    }
    .betydning-p-1 {
        grid-area: paragraph-1;
    }
    .betydning-img-1 {
        grid-area: img;
    }
    .betydning-p-2 {
        grid-area: paragraph-2
    }
    .betydning-p-3 {
        grid-area: paragraph-3
    }
    .betydning-h {
        grid-area: headline;
    }
    .betydning-video-1 {
        grid-area: video
    } */

    .betydning img {
        width: 35%;
        margin: 50px;
    }
    .betydning img:hover {
        transition: scale(1.5);
        duration: 2
    }
    .betydning video {
        width: 80%;
        margin-bottom: 40px;
    }


} /* desktop mq endtag*/



/* DETAILS SECTION */
.details {
    display: flex;
    flex-direction: column;
    position: relative;
}
.details p {
    position: absolute;
    right: 8%;
    left: 30vw;
    width: 50vw;
    margin-left: 8%;
    margin-right: 8%;
}
.details-p-1 {
    top: 10%;
}
.details-p-2 {
    top: 100vh;
}
.details-p-3 {
    top: 200vh;
}
.details-p-4 {
    top: 300vh;
}

.details h2 {
    display: flex;
    justify-content: center;
}

/* zoom image */
.zoom-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}  
.zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FUNDET SECTION  */
.fundet {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundet img {
    width: 100%;
}
.field-wrapper {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plov-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plov-wrapper p {
    margin-top: 40px;
}
/* FUNDET media query */
/* desktop */
@media screen and (min-width: 1024px) {
    .fundet p {
        margin: 0;
    }
    .field-wrapper, .plov-wrapper {
        display: flex;
        margin: 150px 15% 300px 15%;
    }

    .field-wrapper {
        flex-direction: row;
        align-items: center;
    }
    .field-wrapper img {
        width: 40%;
    }

    .plov-wrapper img {
        width: 75%;
    }
    .plov-wrapper {
        flex-direction: column-reverse;

    }
    .plov-wrapper p {
        margin-right: 40%;
    }
}



/* SCROLL TO SECTION */
/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


.one {
    background-color: red;
}

.two {
    background-color: yellow;
}

.three {
    background-color: green;
}
.four {
    background-color: purple;
} */
