* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: black;
}
h1 { 
    font-size: clamp(5rem, 12vw, 12rem);  
}
h1, h2 {
    margin-top: 100px;
    filter: drop-shadow(-1px 0px 3px #DCC87F);
    text-align: center;
    font-family: garamond-premier-pro-display, serif;
    font-weight: 400;

}
h2 {
    font-size: clamp(3rem, 10vw, 8rem); 
}
p, a {
    font-family: garamond, serif;
}
.spacer {
    display: flex;
    filter: invert(100%);
    opacity: 0.5;
    height: 300px;
    width: 100px;
    margin: auto;
}
p {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 60px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
figcaption {
    margin-bottom: 40px;
}
.curly {
    max-width: 25%;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ALL media querys  */
/* desktop */
@media screen and (min-width: 1024px) {
    p {
        margin-left: 25%;
        margin-right: 25%;
    }
    .curly {
        max-width: 10%;
        margin-bottom: 200px;
    }
    
}

/* SCROLLBAR and NAV */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 8px;
    background: black;
}
.progress-bar {
    height: 5px;
    background: white;
    filter: drop-shadow(-1px 0px 8px #DCC87F);
    width: 0%;
}
/* nav {
    display: absolute;
    top: 50
} */

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/Solvognen-00103_hero_web.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-spacer {
    height: 30vh;
}
.hero h2 {
    font-size: 1.8rem; 
}
/* scroll icon */
.scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 18px;
    height: 18px;
}
/* hero media querys  */
/* desktop */
@media screen and (min-width: 1024px) {
    .hero h2 {
        font-size: 3rem; 
    }
}

/* INTRO SECTION */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.intro img {
    max-width: 75%;
}
.fact-wrapper {
    width: 50%;
    border-right: solid white;
    margin: 50px 0;
    padding: 25px 0;
}
.intro-text {
    text-align: center;
}
/* .btn {
    border: solid white 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 16px;

}
.btn:hover {
    background-color:white;
    color: black;
    filter: drop-shadow(-1px 0px 3px #DCC87F);
} */
/* INTRO media query */
/* desktop */
@media screen and (min-width: 1024px) {
    .intro img {
        max-width: 30%;
        margin-top: 150px;
    }
    .fact-wrapper {
        max-width: 20%;
    }
    .fact-wrapper p {
        margin: 0 8% 0 8%;
    }

}

/* BETYDNING SECTION */
.betydning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.betydning-img {
    width: 100%;
    margin: 50px;
}
.betydning .video {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
/* video  */
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-bottom: 100px;
    margin-top: 40px;
}
  .video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* BETYDNING media query */
/* desktop */
@media screen and (min-width: 1024px) {
    .betydning-img {
        width: 35%;
        margin: 50px;
    }
    .video-container {
        width: 75%;
    }
}
/* tablet */
@media screen and (min-width: 699px) and (max-width: 1023px) {
    .betydning-img {
        width: 65%;
    }
}

/* DETAILS SECTION */
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.details p {
    position: absolute;
    right: 8%;
    left: 30vw;
    width: 50vw;
    margin-left: 8%;
    margin-right: 8%;
}
.details-p-1 {
    top: 100vh;
}
.details-p-2 {
    top: 200vh;
}
.details-p-3 {
    top: 300vh;
}
.details-p-4 {
    top: 500vh;
}
/* zoom image */
.zoom-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}  
.zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DETAILS media query */
/* desktop */
@media screen and (min-width: 1024px) {
    /* zoom image */
    .zoom-container {
        height: 80%;
        width: 80%;
    }  
    .zoom-container img {
        width: 80%;
        height: 80%;
    }
}


/* FUNDET SECTION  */
.fundet-h-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundet-img {
    width: 100%;
}
.field-wrapper, .plov-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-wrapper {
    margin-bottom: 100px;
}
.plov-wrapper p {
    margin-top: 40px;
}
.desktop-caption {
    display: none;
}
/* FUNDET media query */
/* desktop */
@media screen and (min-width: 1024px) {
    .fundet p {
        margin: 0;
    }
    .field-wrapper, .plov-wrapper {
        margin: 150px 15% 300px 15%;
    }

    .field-wrapper {
        flex-direction: row;
    }
    .field-wrapper img {
        width: 40%;
    }

    .plov-wrapper img {
        width: 75%;
        margin-left: -5%;
    }
    .plov-wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .plov-wrapper p {
        margin-right: 40%;
        margin-top: 100px;
    }
    .mobile-caption {
        display: none;
    }
    .desktop-caption {
        display: block;
    }
}
/* tablet */
@media screen and (min-width: 699px) and (max-width: 1023px) {
    .field-wrapper img {
        width: 60%;
    }
    .plov-wrapper img {
        width: 60%;
    }
}